[submodule "external/aap-core"]
	path = external/aap-core
	url = https://github.com/atsushieno/aap-core
[submodule "external/aap-juce"]
	path = external/aap-juce
	url = https://github.com/atsushieno/aap-juce
[submodule "external/OB-Xf"]
	path = external/OB-Xf
	url = https://github.com/surge-synthesizer/OB-Xf
